

.class-myfont {
    font-family: 'Open Sans', sans-serif;
}

.myCell{
   width:50px;
    height:auto;
}

body{
  background: white;
}

/* Portrait layout (default) */
.app {

}

@media only screen and (max-width : 400px) {
    .myCell{
        width:40px;
        height:40px;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .myCell{
        width:80px;
        height:auto;
    }

    .class-myfont{
        font-size: 20px;
    }
}
.drawGrid {
    margin: 0 auto;
}
.score{
    text-align: center;
}

.myTitle{
    text-align: center;
}

.imgTitle{
    margin-bottom: -50px;
}

.turn{
    text-align: center;
}

gridImg{
	max-width: 100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

